body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}


header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 0.8em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    min-width: 150px;
}

.editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.block-area {
    margin: 0.5em 0 0 0;
    min-height: 100px;    
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
    font-size: small;
}

span.field-validation-error
{
    float: right;
    width: 450px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    font-size: medium;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors
{
    background-color: #fee;
    border: 2px dotted #f00;
    margin-bottom: 10px;
} 

span.validation-summary-errors { 
    border-bottom-color: #fee; 
    display:block; 
} 

ul.validation-summary-errors { 
    margin:0; 
    padding:0; 
    border-top:none; 
    } 

.validation-summary-errors li {
  list-style: none;
}

/* Microposts MVC 
-----------------------------------------------------------*/

.container {
    width: 710px;
    margin:0 auto; 
}

body {
  background: #cff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: white;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #2981e4;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

img.avatar {
  border: 1px solid #999;
  margin-bottom: -15px;
  width: 75px;
  height: 75px;
}

img.avatar-medium {
  border: 1px solid #999;
  margin-bottom: -10px;
  width: 50px;
  height: 50px;
}

img.avatar-small {
  border: 1px solid #999;
  margin-bottom: -5px;
  width: 35px;
  height: 35px;
}

ul.users {
  margin-top: 1em;
  margin-left: -1em;
}

.users li 
{
  padding-bottom: 5px;
  list-style: none;
}

/* Microposts */

h1.micropost
{
  margin-bottom: 0.3em;
  margin-top: 0;
}

table.microposts {
  margin-top: 1em;
  padding-left: 1em;
  width: 100%;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.avatar {
  margin-top: 2px;
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 5px;
  width: 50px;
}

table.microposts tr td.delete {
  border-top: 1px solid #ccc;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.user {
}

table.microposts tr td.micropost span.content {
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.stats {
    display: block;
    margin-top: 1em;
}

div.stat {
    font-size: 90%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

div.progress {
    display: none;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts 
{
  font-size: 80%;
}

.micropost_new {
  margin-bottom: 1em;
}

.micropost_new textarea {
  height: 4em;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 0;
}

/* Blueprint */

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* Button */
.button, .button:visited {
    display: block;
    background: none;
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
    border: none;
    position: relative;
	cursor: pointer
}
 
	.button:hover							{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 	{ font-size: 11px}
	.button, .button:visited,
	.medium.button, .medium.button:visited 	{ font-size: 13px; 
											  font-weight: bold; 
											  line-height: 1;  }
												  
	.large.button, .large.button:visited 	{ font-size: 14px; 
											  padding: 8px 14px 9px; }
													  
	.super.button, .super.button:visited 	{ font-size: 34px; 
											  padding: 8px 14px 9px; }
	
	.green.button, .green.button:visited	{ background-color: #91bd09; }
	.green.button:hover						{ background-color: #749a02; }
	.red.button, .red.button:visited		{ background-color: #e62727; }
	.red.button:hover						{ background-color: #cf2525; }
	.orange.button, .orange.button:visited	{ background-color: #ff5c00; }
	.orange.button:hover					{ background-color: #d45500; }
	.blue.button, .blue.button:visited		{ background-color: #2981e4; }
	.blue.button:hover						{ background-color: #2575cf; }
	.yellow.button, .yellow.button:visited	{ background-color: #ffb515; }
	.yellow.button:hover					{ background-color: #fc9200; }
	.greyred.button, .greyred.button:visited{ background-color: #acacac; }
	.greyred.button:hover					{ background-color: #cf2525; }
	
