@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
  <a href="https://github.com/marcelopuppin/micropostmvc">Microposts .NET MVC</a>
  is a project to create a twitter like application for ASP.NET MVC 4 based on the book from Michael Hartl.
  Please see the @Html.ActionLink("help", "Help", "Pages") link for more information.
</p>
