@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
  For more detailed information about the Microposts .NET MVC sample application, please 
  <a href="https://github.com/marcelopuppin">contact me</a>.
</p>
