@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<p>
This sample application is based on the <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial Book</a> from Michael Hartl.
To get help on this sample application, see the <a href="https://github.com/marcelopuppin/micropostmvc">Microposts .NET MVC</a> at github.
</p>

