@{
    ViewBag.Title = "Home";
}
<h2>Sample App</h2>

<p>This is the home page for the <a href="https://github.com/marcelopuppin/micropostmvc">Microposts .NET MVC</a> sample application.</p>

@Html.ActionLink("Sign up now!", "SignUp", "Users", new {}, new { @class = "signup_button round blue" })