<nav class="round">
    <ul>
        <li>@Html.ActionLink("About", "About", "Pages")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Pages")</li>
        <li><a href="http://www.asp.net/">News</a></li>
        <li><a href="http://www.asp.net/mvc/">MVC</a></li>
    </ul>
</nav>
