@{
    if (ViewBag.FlashMessage == null)
    {
        ViewBag.FlashMessage = "";
    }
    if (ViewBag.FlashClass == null)
    {
        ViewBag.FlashClass = "info";
    }
}
<script type="text/javascript">
    $(window).ready(function () {
        showFlash("@ViewBag.FlashMessage", "@ViewBag.FlashClass");
    });

    var showFlash = function (message, classType) {
        $("#flash").removeClass()
                   .hide();
    
        var visible = (message.length > 0);
        if (visible) {
            $("#flash").html(message)
                       .addClass(classType)
                       .fadeIn(3000);
        }
    };

    var fadeOutFlash = function() {
        $("#flash").fadeOut(2000);
    };
</script>

<!-- flash class: error, alert, notice, success, info -->
<div id="flash" class="@ViewBag.FlashClass" style="display:none" onclick="fadeOutFlash()">
    
</div>
