<script type="text/javascript">
    var confirmDeletion = function (user, micropost) {
        $('#flash').hide();
        $('#deleteMessage').dialog(
            {
                modal: true,
                buttons: {
                    No: function () {
                        $(this).dialog("close");
                    },
                    Yes: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: 'POST',
                            dataType: 'json',  
                            contentType: 'application/json; charset=utf-8',   
                            url: '@Url.Action("Remove", "Microposts")',
                            data: JSON.stringify(SetDataForDeletion(user, micropost)),
                            success: function(data) {
                                $('#' + micropost).remove();
                                if (window.userInfoViewModel != null) {
                                    window.userInfoViewModel.decrementMicropost();
                                }
                                window.showFlash(data, "info");
                                window.fadeOutFlash();
                            },
                            error: function(data) {
                                window.showFlash(data, "error");
                            }
                        });
                    }
                }
            });
    };

    function SetDataForDeletion(user, micropost) {
        return { userId : user, micropostId : micropost };
    }
</script>

<div id="deleteMessage" title="Delete micropost" style="display:none">
    <p>Are you sure?</p>
</div>

