@model MicropostMVC.Models.UserModel

<div class="user_info">
    @{
        var data = new ViewDataDictionary {new KeyValuePair<string, object>("class", "avatar-small")};
        Html.RenderPartial("_Avatar", Model, data);
    }
    <span class="user_name">@Model.Name</span>
    <span class="microposts" data-bind="text: totalMicroposts"></span>
    @{
        Html.RenderPartial("_Stats", Model);
    }
</div>
