@using MicropostMVC.Models
@model MicropostsForUserModel
@{
    ViewBag.Title = "Home";
    Html.RenderPartial("_MicropostDelete");
}
<table class="profile">
    <tr>
        <td class="main">
            <h1 class="micropost">What's up?</h1>
            @{
                Html.RenderPartial("_Message");
                Html.RenderPartial("_MicropostNew");
            } 
        </td>
        <td class="sidebar round">
           @{
                Html.RenderPartial("_UserInfo", Model.User);
            } 
        </td>
    </tr>
</table>

<table class="microposts">
    <tbody data-bind='foreach: microposts'>
    @foreach (MicropostOwnerModel micropostOwner in Model.Microposts)
    {
        Html.RenderPartial("_Micropost", micropostOwner);
    }
    </tbody>
</table>
