@using MicropostMVC.Models
@model MicropostsForUserModel

@{
    ViewBag.Title = "Show";
    Html.RenderPartial("_MicropostDelete");
    Html.HiddenFor(model => model.User.Id);
}

<table class="profile" summary="Profile information">
    <tr>
        <td class="main">
            @{
                Html.RenderPartial("_Message");
            }
            <h1>
                @{
                    Html.RenderPartial("_Avatar", Model.User);
                }
                @Html.DisplayFor(model => model.User.Name)
            </h1>
            @{
                Html.RenderPartial("Follow", Model.User);
            }
        </td>
        <td class="sidebar round">
            <strong>Name:</strong>&nbsp;@Html.DisplayFor(model => model.User.Name)
            <br />
            <strong>Email:</strong>&nbsp;@Html.DisplayFor(model => model.User.Email)
        </td>
    </tr>
</table>

<table class="microposts">
    @foreach (MicropostOwnerModel micropostOwner in Model.Microposts)
     {
        Html.RenderPartial("_Micropost", micropostOwner);
     }
</table>
