@model MicropostMVC.Models.UserModel

@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@{
    Html.RenderPartial("_Message");    
}

@using (Html.BeginForm()) {
                                      
    <fieldset class="round">
        @Html.Partial("_Fields", Model)
        <p>
            <input type="submit" class="button large blue" id="Create" value="Create" />
        </p>
    </fieldset>
}

