@model IEnumerable<MicropostMVC.Models.UserModel>

<ul class="users">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>
                @{
                    var data = new ViewDataDictionary {new KeyValuePair<string, object>("class", "avatar-small")};
                    Html.RenderPartial("Avatar", item, data);
                }
                @Html.ActionLink(item.Name, "Show", item)
            </li>
        }
    }
</ul>
